.all-students > * {
  display: flex;
  flex-direction: column;
  width: 300px;
}

button {
  align-items: center;
  margin: 10px;
}

.assessments {
  display: flex;
  flex-wrap: wrap;
}

input[type=checkbox] {
  visibility: hidden;
}

.letter label {
  row-gap: 10px;
  line-height: 1;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 10px;
  height: 35px;
  width: 35px;
}

.letter input[type=checkbox]:checked + label {
  background-color: teal;
  color: white;
}

.letter {
  height: 75px;
  width: 75px;
}